     /* Additional Custom CSS */
     .logo-container {
        text-align: center;
        padding: 20px;
    }
    .logo-img {
        max-width: 200px; /* Adjust the max-width as needed for your logo's aspect ratio */
        height: auto;
    }
    .custom-dropdown {
        display: none; /* Initially hide the custom dropdown */
    }
    